# Environnement virtuel
.venv/
venv/
env/

# Variables d'environnement
.env

# Cache Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Données générées
data/bronze/*
data/silver/*
data/gold/*

# Sauf éventuellement un fichier exemple
!data/bronze/.gitkeep
!data/silver/.gitkeep
!data/gold/.gitkeep

# Logs
airflow/logs/

# Streamlit
.streamlit/
# IDE
.vscode/
.idea/

# Système
.DS_Store
Thumbs.db